absl-py==1.0.0
backcall==0.2.0
boto3==1.22.7
botocore==1.25.7
cachetools==4.2.4
certifi==2021.5.30
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.8
datasets
decorator==5.1.1
entrypoints==0.3
google-auth==2.6.6
google-auth-oauthlib==0.4.6
grpcio==1.46.0
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
ipykernel==5.3.4
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.0
jmespath==0.10.0
joblib==1.1.0
jupyter-client==7.1.2
jupyter-core==4.8.1
Markdown==3.3.6
nest-asyncio==1.5.1
nltk==3.6.7
numpy==1.19.5
oauthlib==3.2.0
pandas==1.1.5
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pip==21.2.2
prompt-toolkit==3.0.20
protobuf==3.19.4
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.11.2
python-dateutil==2.8.2
pytz==2022.1
pyzmq==22.2.1
regex==2022.4.24
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
sacremoses==0.0.53
scikit-learn==0.24.2
scipy==1.5.4
sentencepiece==0.1.96
seqeval==1.2.2
setuptools==58.0.4
six==1.16.0
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
textbrewer==0.2.1.post1
threadpoolctl==3.1.0
torch==1.10.2
tornado==6.1
tqdm==4.64.0
traitlets==4.3.3
transformers==2.3.0
typing_extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
Werkzeug==2.0.3
wheel==0.37.1
zipp==3.6.0
